<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script defer src="{{ url_for('static', filename='js/home.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Salsa" rel="stylesheet">
</head>
<body>
    <div class="home-div">
        <h1 id="greet">Welcome</h1>
        <h3 id="name">Nahom Araya </h3>

        <div class="buttons-div">
            <a href="{{ url_for('about') }}"><button class="btn-about">About</button></a>
            <a href="{{ url_for('project') }}"><button class="btn-project">Projects</button></a>
        </div>
        <div class="images-div">
            <a href="https://linkedin.com/in/nahom-araya-071603228" target="_blank">
                <img id="linkPic" src="/static/img/linkerdln.png">
            </a>
            <a href="https://github.com/Nahom96" target="_blank">
                <img id="GitPic" src="/static/img/github.png">
            </a>
            <a href="mailto:Arayanahom475@gmail.com" target="_blank">
                <img id="EmailPic" src="/static/img/mail.png">
            </a>
        </div>
    </div>
</body>
</html>